---
import Layout from "../layouts/Layout.astro";

import "@new-ui/foundations";
import Dashboard from "../components/Dashboard";
---

<Layout
  site="FSharpest"
  title="Sharpest F#"
  tagline="Discover F# tools, libraries and resources."
>
  <main>
    <Dashboard client:load category='all' />
  </main>
</Layout>
